* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, rgb(99, 170, 126), rgb(207, 255, 225));
}
form button {
  margin-left: 5px;
}
form button:first-of-type {
  margin-left: 0;
}
.remove-ingredient {
  margin-top: 20px;
}
.form__subtitle {
  margin-top: 0;
}
.form__actions {
  margin-top: 40px;
  border-top: 5px solid rgb(255, 255, 255);
  padding-top: 40px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DayPickerInput input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* ingredients */
.ingredient-actions {
  margin: 25px -15px;
}

.popover {
  max-width: 300px;
}
ul.ingredients {
  max-height: 400px;
  min-width: 300px;
  max-width: 600px;
  z-index: 5;
  overflow: auto;
  position: absolute;
  margin-top: -15px;
  width: 31%;
}
.ingredients li {
  cursor: pointer;
}
.remove-ingredient {
  border-radius: 25px;
  padding: 6px 9px;
  position: absolute;
  top: -28px;
  right: -7px;
}
li > div.ingredient {
  margin: 20px 0px;
    padding: 20px 0px;
    padding-left: 10px;
    /* border: 1px solid beige; */
    background: linear-gradient(to right, rgb(208, 255, 225)61%, rgba(180, 232, 200, 0.44));
    border-radius: 5px;
    position: relative;
    width: 80%;
}
@media (max-width: 992px){
  li > div.ingredient {
    width: 90%;
  }
}
@media (max-width: 768px){
  li > div.ingredient {
    width: 100%;
  }
}