body {
  background: linear-gradient(
    to right,
    rgb(99, 170, 126),
    rgb(207, 255, 225)
  );
}
form button {
  margin-left: 5px;
}
form button:first-of-type {
  margin-left: 0;
}
.remove-ingredient {
  margin-top: 20px;
}
.form__subtitle {
  margin-top: 0;
}
.form__actions {
  margin-top: 40px;
  border-top: 5px solid rgb(255, 255, 255);
  padding-top: 40px;
}

form ul {
  list-style: none;
}
