.btn-meals-date {
  width: 40px;
}

.btn-meal-list {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.btn-water {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
}

.btn-toggle-targets {
  margin-right: 5px;
  margin-top: 15px;
  width: 115px;
  height: 45px;
  font-weight: bold;
}

.btn-sync-target {
  margin-right: 5px;
  width: 140px;
  height: 35px;
  font-weight: bold;
}

.btn-inc-target {
  margin-right: 2px;
  width: 69px;
  height: 35px;
  font-weight: bold;
}

.btn-dec-target {
  margin-right: 2px;
  width: 69px;
  height: 35px;
  font-weight: bold;
}

.col-fat {
  color: #f00;
}

.col-ch {
  color: #06f;
}

.col-protein {
  color: #690;
}

.col-ingredient {
  font-weight: bold;
}
