.btn-meals-date {
  width: 40px;
}

.btn-meal-list {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.btn-water {
  margin: 5px;
  width: 45px;
  height: 45px;
}

.col-fat {
  color: #f00;
}

.col-ch {
  color: #06f;
}

.col-protein {
  color: #690;
}

.col-ingredient {
  font-weight: bold;
}
