.btn-set-range {
  text-align: center;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-load-data {
  text-align: center;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-chart-toggle {
}
