.btn-datepicker {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-meal-list {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.water {
  margin: 10px;
  width: 50px;
}